@using Models
@model List<UserIngame>
@{
    ViewData["Title"] = "AdminPagina";
}

<h2>AdminPagina</h2>

<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <table class="table table-responsive-sm table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">email</th>
                    <th scope="col">username</th>
                    <th scope="col">level</th>
                    <th scope="col">Verwijderen</th>
                </tr>

                @foreach (UserIngame Ui in Model)
                {
                    <tr>
                        <td></td>
                        <td>@Ui.email</td>
                        <td>@Ui.username</td>
                        <td>@Ui.level</td>
                        <td>@Html.ActionLink("Verwijderen", "VerwijderUser","Admin", new {id=Ui.user_id },new {onclick="return confirm('Weet je zeker dat u deze user wilt verwijderen');" })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>