@model PersonalappV3.Models.GevangenisView

@{
    ViewData["Title"] = "Gevangenis";
}

<h2>Gevangenis</h2>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <table class="table table-responsive-sm table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Borg</th>
                    <th scope="col">Tijd vast</th>
                    <th scope="col">Betalen</th>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td>@Model.Borg</td>
                    <td>@Model.Tijd_vast</td>
                    <td>@Html.ActionLink("Betaal de borg", "BetaalBorg", "Game", new { geld = Model.Borg }, new { onclick = "return confirm('Weet u zeker dat de borg betaald moet worden ?');" })</td>
                </tr>
            </table>

            <script>
                var timer = new Timer();
                timer.start({ countdown: true, startValues: { seconds: 30 } });
                $('#countdownExample .values').html(timer.getTimeValues().toString());
                timer.addEventListener('secondsUpdated', function (e) {
                    $('#countdownExample .values').html(timer.getTimeValues().toString());
                });
                timer.addEventListener('targetAchieved', function (e) {
                    $('#countdownExample .values').html('KABOOM!!');
                });</script>
            <div id="countdownExample">
                <div class="values"></div>
            </div>

            @if (TempData["Borg"] != null)
            {
                <p class="alert alert-danger">@TempData["Borg"]</p>
            }
        </div>
    </div>
</div>