@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://media.giphy.com/media/3jxWIaCKy3a0g/giphy.gif");
        background-size: cover;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
</style>
@*<div class="gif-container"></div>*@